@import "../../foundation/color";

.p-quiz-mv {
	&__title {
		@include title-underline;
		font-size: 24px;
		margin-bottom: 35px;
	}
	&__button-primary {
		background-color: $c-accent;
		color: $c-base;
		width: 240px;
		height: 70px;
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 35px;
		& span {
			position: relative;
			bottom: 2px;
		}
	}
	&__play-icon {
		position: relative;
		top: 6px;
		font-size: 35px !important;
	}
	&__option-box {
		text-align: center;
		color: #000000;
		border: 1px solid $c-main-light;
	}
	&__sub-title {
		height: 38px;
		background-color: $c-main-light;
		color: $c-base;
		& h2 {
			line-height: 38px;
			letter-spacing: 0.04em;
		}
	}
	&__quiz-option {
		margin-bottom: 30px;
		padding: 0 10px;
	}
	&__button-option-box :nth-child(odd){
		margin-right: 1px;
	}
	&__button-option-box {
		text-align: left;
	}
	&__button-option {
		position: relative;
		width: 49.8%;
		height: 50px;
		margin: 20px 0 0 0;
		font-size: 18px;
		font-weight: bold;
		text-transform: none;
		&:disabled {
			color: $c-primary;
		}
	}
	&__button-correct {
		background-color: $c-correct-light;
	}
	&__button-inCorrect {
		background-color: $c-inCorrect-light;
	}
	&__button-next {
		width: 110px;
		height: 40px;
		letter-spacing: 0.05em;
		font-size: 18px;
		text-transform: none;
		margin-bottom: 20px;
	}
	&__button-skip {
		width: 110px;
		height: 40px;
		font-size: 18px;
		background-color: $c-grey;
	}
	&__button-unSelected {
		background-color: $c-grey;
	}
	&__button-result {
		width: 110px;
		height: 40px;
		font-size: 18px;
		text-transform: none;
		font-weight: bold;
		color: $c-primary;
		background-color: $c-secondary;
	}
	&__button-top {
		width: 110px;
		height: 40px;
		font-size: 18px;
		text-transform: none;
		margin-top: 30px;
	}
	&__circle-icon {
		position: absolute;
		top: 11px;
		left: 8px;
		color: $c-correct;
	}
	&__cross-icon {
		position: absolute;
		top: 12px;
		left: 8px;
		color: $c-inCorrect;
	}
}