@import "../../foundation/color";

.p-result-mv {
	&-inner {
		text-align: center
	}
	&__title {
		@include title-underline;
		font-size: 26px;
		margin-bottom: 20px;
	}
	&__result-box {
		height: 200px; // 後で消す
		border: 1px solid $c-main-light;
		margin-bottom: 30px;
	}
	&__total-score {
		font-size: 24px;
		color: $c-accent;
		font-weight: bold;
		margin: 20px 0 25px 0;
	}
	&__text-box {
		width: 250px;
		// text-align: left;
		margin: auto;
		margin-bottom: 25px;
		& div {
			margin-bottom: 5px;
		}
		& span {
			font-size: 20px;
			letter-spacing: 0.04em;
			margin-bottom: 5px;
		}
	}
	&__result-value {
		font-weight: bold;
	}
	&__detail-link {
		display: inline-flex;
		& button {
			border: none;
		}
	}
	&__new-icon {
		position: relative;
		bottom: 4px;
	}
	&__button-box {
		& button {
			width: 130px;
			height: 50px;
			font-size: 18px;
		}
	}
	&__button-top {
		margin-right: 10%;
	}
	&__button-left {
		margin-left: 10%;
	}
}
.p-result-detail {
	&-inner {
		position: relative;
		// width: 320px;
		// height: 400px;
	}
	&__title-box {
		// display: flex;
		text-align: center;
		
	}
	&__cross-icon {
		border: none;
		position: absolute;
		top: 2px;
		left: 0px;
	}
	&__title {
		@include title-underline;
		margin-top: 20px;
		font-size: 22px;
	}
	&__result-box {
		border: 1px solid $c-main-light;
		margin: 20px 10px 0 10px;
	}
	&__result-table {
		margin: auto;
		margin-top: 10px;
		margin-bottom: 15px;
		border-collapse: separate;
		border-spacing: 12px 12px;
		& td {
			font-weight: 600;
			font-size: 17px;
		}
	}
}