@import "../../foundation/color";

.p-top-mv {
	&__title {
		@include title-underline;
		font-size: 26px;
		margin-bottom: 35px;
	}
	&__text-box {
		& div {
			letter-spacing: 0.04em;
			font-size: 22px;
		}
		font-weight: 520;
		margin-bottom: 35px;
	}
	&__button-primary {
		width: 240px;
		height: 70px;
		font-size: 25px;
		font-weight: bold;
		background-color: $c-accent;
		color: $c-base;
	}
	&__number-box {
		display: inline-flex;
		margin-top: 12px;
		margin-bottom: 10px;
	}
	&__number-select {
		border: 1px solid $c-main-light;
		font-size: 18px;
		margin-left: 10px;
		width: 59px;
		height: 24px;
	}
	&__type-box {
		display: inline-flex;
	}
	&__type-select {
		border: 1px solid $c-main-light;
		font-size: 18px;
		margin-left: 10px;
		width: 80px;
		height: 24px;
	}
}
