
.invisible {
	display: none;
}

/* 正解時ボタンの色を変える */
.correct {
	background-color:rgba(0, 255, 0, 0.5) !important;
}
.inCorrect {
	background-color: rgba(255, 0, 0, 0.5) !important;
}
/* 正解押下時未選択のボタンをグレーにする */
.unSelected {
	background-color: rgba(169, 169, 169, 0.5) !important;
}

/* 非活性時にボタンの色をそのままにする */
/* Button {
	border: 1px solid rgba(0, 0, 0, 1) !important;
	color: #000000 !important;
	border-radius: 8px !important;
} */

.main-button {
	width: 240px;
	height: 70px;
	font-size: 25px !important;
	font-weight: bold !important;
	color: #FFFF !important;
	background-color: rgb(255, 132, 0, 0.9) !important;
}

.sub-button {
	width: 110px;
	height: 40px;
	font-size: 18px !important;
	text-transform: none !important;
}
/* 選択肢のボタン */
.option-button {
	width: 160px;
	height: 50px;
	margin-top: 20px !important;
	font-size: 18px !important;
	font-weight: bold !important;
	text-transform: none !important;
}

.result-button {
	width: 110px;
	height: 40px;
	font-size: 18px !important;
	text-transform: none !important;
	font-weight: bold !important;
	color: #000000 !important;
	background-color: rgba(255, 227, 0, 0.9) !important;
}

.skip-button {
	width: 110px;
	height: 40px;
	font-size: 18px !important;
	background-color: rgba(169, 169, 169, 0.5) !important;
}

.sub-title {
	display: inline-block;
	padding: 0.8rem 0;
	margin-bottom: 0.2rem;
	background-image: linear-gradient(90deg, rgba(207, 112, 23, 0.794) 0 10%, #dedede 25%);
	background-repeat: no-repeat;
	background-size: 100% 10%;
	background-position: bottom;
	color: #323232;
	font-size: 26px;
}

.circle-icon {
	position: absolute;
	color: rgb(21, 131, 21);
	left: 130px;
	bottom: 20px;
}

.cross-icon {
	position: absolute;
	color: red;
	left: 130px;
	bottom: 21px;
}

/* .play-icon {
	font-size: 35px !important;
} */

.text {

	font-weight: 520 !important;
}

.image {
	width: 100%;
	height: 70px;
}

.cardStyle {
	color: #000000;
	border: 1px solid rgba(1, 0, 0, 0.4) !important;
}

