/* 全体の背景色 */
.container {
	background-color: rgba(245,221,97,0.3) !important;
	height: 100vh;
}

.invisible {
	display: none;
}

/* 正解時ボタンの色を変える */
.correct {
	background-color:rgba(0, 255, 0, 0.5) !important;
}
.inCorrect {
	background-color: rgba(255, 0, 0, 0.5) !important;
}
/* 非活性時にボタンの色をそのままにする */
Button {
	border: 2px solid rgba(25, 118, 210, 0.5) !important;
	color: #1976d2 !important;
	border-radius: 8px !important;
}

.button {
	font-weight: bold !important;
}

.title {
	margin: auto;
	display: inline-block;
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
	color: #000;
}

.image {
	width: 280px;
}

