.invisible {
	display: none;
}

/* 正解時ボタンの色を変える */
.correct {
	background-color: greenyellow !important;
}
.inCorrect {
	background-color: red !important;
}
/* 非活性時にボタンの色をそのままにする */
Button {
	border: 1px solid rgba(25, 118, 210, 0.5) !important;
	color: #1976d2 !important;
}